{% extends 'root.html' %}
{% load hitcount_tags %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<div class="container" style="height: calc(100vh - 100px) !important">
<div class="main-body p-0">
    <div class="inner-wrapper">
        <!-- Inner sidebar -->
        {% include 'components/sidebar.html' %}
        <!-- /Inner sidebar -->

        <!-- Inner main -->
        <div class="inner-main">
            <!-- Inner main header -->
            <div class="inner-main-header bg-dark" style="border-color: inherit;">
                <div class="navigate text-light">
                    <span><a href="{% url 'forum:home' %}">Subjects</a> / <a href="{{forum.get_url}}">{{forum.title}}</a></span>
                </div>
                <span class="input-icon input-icon-sm ml-auto w-auto">
                    <input type="text" name="q" class="form-control form-control-sm shadow-none mb-4 mt-4 bg-dark text-white" placeholder="Search forum" style="border-color: gray;" />
                </span>
            </div>
            <!-- /Inner main header -->

            <!-- Inner main body -->

            <!-- Forum List -->
            <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">

                {% for post in page %}
                <div class="card mb-2 bg-dark">
                    <div class="card-body p-2 p-sm-3">
                        <div class="media forum-item">
                            <a href="{% url 'user:profile' post.user.user_id post.user%}"><img src="{{ post.user.profile_pic.url }}" class="mr-3 rounded-circle" height="50" width="50" alt="User" /></a>
                            <div class="media-body">
                                <div style="display: flex">
                                    <small>
                                        <p style="color: rgb(207 207 207); padding-left: 0pt;" >Posted by 
                                            <a class="text-white" href="{% url 'user:profile' post.user.user_id post.user%}">{{ post.user }}</a> {{ post.date | timesince }} ago
                                        </p>
                                    </small>
                                </div>
                                <h6 class="text-white">
                                    <a data-toggle="collapse" data-target=".forum-content" class="text-white" href="{{post.get_url}}">{{post.title}}</a>
                                </h6>
                            </div>
                            <div class="text-muted small text-center align-self" style="color: rgb(184, 184, 184) !important;">
                                <span class="d-none d-sm-inline-block">
                                    <i class="far fa-eye"></i> 
                                    {% get_hit_count for post %}
                                </span>
                                <span>
                                    <i class="far fa-comment ml-2"></i>
                                    {{post.num_comments}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


                <!-- pagination -->
                {% include 'components/pagination.html' %}
            </div>
            <!-- /Forum List -->

            <!-- /Inner main body -->
        </div>
        <!-- /Inner main -->
    </div>

    <!-- New Thread Modal -->
   
</div>
</div>
<!-- Footer -->
{% include 'components/footer.html' %}
<!-- Footer -->
{% endblock content %}	