{% extends 'root.html' %}
{% block content %}
    <div class="container">
        <div class="main-body p-0">
            <div class="inner-wrapper">
                <!-- Inner sidebar -->
                <div class="inner-sidebar">
                    <!-- Inner sidebar header -->
                    <div class="inner-sidebar-header justify-content-center">
                        <a href="{% url 'forum:create_subject' %}" class="btn btn-primary has-icon btn-block" type="button" data-toggle="modal" data-target="#threadModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus mr-2">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg>
                            NEW TOPIC
                        </a>
                    </div>
                    <!-- /Inner sidebar header -->
                
                    <!-- Inner sidebar body -->
                    <div class="inner-sidebar-body p-0">
                        <div class="p-3 h-100" data-simplebar="init">
                            <div class="simplebar-wrapper" style="margin: -16px;">
                                <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div>
                                <div class="simplebar-mask">
                                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                        <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                                            <div class="simplebar-content" style="padding: 16px;">
                                                <nav class="nav nav-pills nav-gap-y-1 flex-column">
                                                    <a href="javascript:void(0)" class="nav-link nav-link-faded has-icon active">All Threads</a>
                                                    <a href="javascript:void(0)" class="nav-link nav-link-faded has-icon">Popular this week</a>
                                                    <a href="javascript:void(0)" class="nav-link nav-link-faded has-icon">Popular all time</a>
                                                    <a href="javascript:void(0)" class="nav-link nav-link-faded has-icon">Solved</a>
                                                    <a href="javascript:void(0)" class="nav-link nav-link-faded has-icon">Unsolved</a>
                                                    <a href="javascript:void(0)" class="nav-link nav-link-faded has-icon">No replies yet</a>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="simplebar-placeholder" style="width: 234px; height: 292px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Inner sidebar -->
        
                <!-- Inner main -->
                <div class="inner-main">
                    <!-- Inner main header -->
                    <div class="inner-main-header">
                        <span>Search: {{ query }} --> {{ objects|length }} Result(s) found </span>
                    </div>   

                    <!-- Forum home -->
                    <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                        {% for forum in objects %}
                        <div class="card mb-2">
                            <div class="card-body p-2 p-sm-3">
                                <div class="media forum-item">
                                    <div class="media-body">
                                        <h3><a data-toggle="collapse" data-target=".forum-content" class="text-body" href="{{forum.get_url}}">{{forum.title}}</a></h3>
                                        <p class="text-secondary">{{forum.description}}</p>
                                        {% if forum.num_posts == 0 %}
                                            <p><strong>No post yet... </strong></p>
                                        {% else %}
                                            <p class="text-muted"><a href="{{forum.last_post.get_url}}">Last post</a> on <span class="text-secondary font-weight-bold">{{forum.last_post.date|date}}</span></p>
                                        {% endif %}
                                        <!-- <p><a href="{{forum.last_post.get_url}}">Last post</a></p> by <a href="">{{forum.last_post.user.fullname|title}}</a> on <small>{{forum.last_post.date|date}}</small> -->
                                    </div>
                                    <div class="text-muted small text-center align-self-top">
                                        <span class="d-none d-sm-inline-block"><i class="fa fa-pencil-square-o"  aria-hidden="true"></i> {{forum.num_posts}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- /Forum home -->
                    
                </div>
                <!-- /Inner main -->
            </div>
        </div>
    </div>
{% endblock %}

