{% extends 'root.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" style="height: calc(100vh - 60px);">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-group py-4 ">
                <div class="card p-4 bg-dark text-light ">
                    <div class="card-body text-center">
                      <h3>You have been log out <i class="fa fa-sign-out" aria-hidden="true"></i>                      </h3>
                      <a class="btn btn-primary" href="{% url 'user:login' %}" role="button"> Log In Again </a>
                    </div>

            </div>
        </div>
    </div>
    <h2></h2>
    <div class="border-top pt-3">
        
    </div>
</div>

{% endblock %}
