{% extends 'root.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <div class="card bg-dark text-light" style="margin: 10px 0px 10px 0px;">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card-body fd">
          <h5> Are you sure you want to delete this profile {{ user.username }}?</a>
          <p></p>
          <button type="submit" class="btn btn-danger">Delete</button>
          <a class="btn btn-secondary" href="{% url 'user:profile' user.id user.username %}" role="button">Cancel</a>
      </div>
    </form>
  </div>
</div>


{% endblock %}