{% extends 'root.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<br>
<div class="container" style="height: calc(100vh - 110px);">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4 bg-dark text-white">
            <div class="card-body">
              <h1>Activation</h1>
              <p class="text-light">To activate your account please follow the link sent to your email address.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
